* {
    margin: 0px;
    background-color: rgb(83, 73, 73);
    font: purple;
}

.cheats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Centers along the opposite axis */
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 10px;
  }


.cardheader {
    font: purple;
    position: relative;
    margin-top: -20px;
    border-style: solid;
    border-width: .5px;
}

.card1 {
    padding: 10px;
    width: 30%;
    height: 200px;
    text-align: center;
    border-style: dotted;
    border-width: 1px;
  }

  .card2 {
    padding: 10px;
    width: 30%;
    height: 300px;
    text-align: center;
    border-style: dotted;
    border-width: 1px;
  }

